<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Programări</title>
    <link rel="stylesheet" type="text/css" th:href="@{/doctorPages/viewAppointment.css}">

</head>
<body>
    <h1>Programări pentru doctor: <span th:text="${doctor.nume}"></span></h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Pacient</th>
                <th>Data</th>
                <th>Status</th>
                <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.id}"></td>
                <td th:text="${appointment.patient.nume}"></td>
                <td th:text="${appointment.appointmentDate}"></td>
                <td th:text="${appointment.status}"></td>
                <td>
    				<a th:href="'/doctorPages/deleteAppointment?appointmentId=' + ${appointment.id} + '&doctorId=' + ${doctor.id}">
       				 <button>Șterge</button>
   				    </a>
					<a th:href="'/doctorPages/editAppointment?appointmentId=' + ${appointment.id}"><button>Editează</button></a>
    			
				    <a th:if="${appointment.tratament == null}" 
				       th:href="'/doctorPages/assignTreatment?appointmentId=' + ${appointment.id}">
				        <button>Adaugă și Asignează Tratament</button>
				    </a>
				    <span th:if="${appointment.tratament != null}">
				        Tratament: <span th:text="${appointment.tratament.description}"></span>, 
				        Cost: <span th:text="${appointment.tratament.cost}"></span> RON,
				        Diagnostic:<span th:text="${appointment.tratament.diagnosis}"></span>
				        <button disabled>Tratament Asignat</button>
				    </span>

				</td>

            </tr>
        </tbody>
    </table>
    <a href="/home">Înapoi la pagina principală</a>
</body>
</html>
